@import '~/styles/vars'

body
  background-color: #414141

.app
  height: 100vh
  color: white

  &-title
    font-size: 2rem
    padding: 1.5rem 1rem
    color: white
    font-weight: bold
    font-family: sans-serif